<div class="prestamo">
    <h2 class="prestamo__header">Gestión de Préstamos</h2>
    <div style="justify-content: end; display: flex;padding-bottom: 24px;">
        <button mat-raised-button color="primary" (click)="openPrestamoModal()">
            <mat-icon>add</mat-icon>
            <span>Agregar</span>
        </button>    
    </div>
    <div class="prestamo__list">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="libroId">
            <th mat-header-cell *matHeaderCellDef>Libro</th>
            <td mat-cell *matCellDef="let prestamo">{{prestamo.barcode}} {{ prestamo.bookTitle }}</td>
          </ng-container>
          <ng-container matColumnDef="clienteId">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let prestamo">{{ prestamo.clientName }}</td>
          </ng-container>
          <ng-container matColumnDef="fechaPrestamo">
            <th mat-header-cell *matHeaderCellDef>Fecha de Préstamo</th>
            <td mat-cell *matCellDef="let prestamo">{{ prestamo.startDate | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="fechaDevolucion">
            <th mat-header-cell *matHeaderCellDef>Fecha de Devolución</th>
            <td mat-cell *matCellDef="let prestamo">{{ prestamo.returnDate | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="fechaVencimiento">
            <th mat-header-cell *matHeaderCellDef>Fecha de Vencimiento</th>
            <td mat-cell *matCellDef="let prestamo">{{ prestamo.dueDate | date: 'dd/MM/yyyy' }}</td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let prestamo">{{ getStatusText(prestamo.status) }}</td>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let prestamo">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="returnLoan(prestamo.id)"
                  *ngIf="isBorrowed(prestamo.status)">
                  Devolver
                </button>
                <button mat-menu-item (click)="openPrestamoModal(prestamo)">
                  Editar
                </button>
                <button mat-menu-item (click)="deletePrestamo(prestamo.id)">
                  Eliminar
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>